In [42]:
#Calcular média de gols
#Calcular média de gols no primeiro tempo
#Calcular Coeficiente de variação para determinar confiabilidade dos dados

In [43]:
#Importar bibliotecas no python para leitura e análise de dados (Pandas, Numpy)
import pandas as pd
import numpy as np

In [44]:
#Encontrar os dados sobre o time desejado
df = pd.read_csv("https://www.football-data.co.uk/new/BRA.csv")

In [45]:
display(df)

,Country,League,Season,Date,Time,Home,Away,HG,AG,Res,PH,PD,PA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA
0,Brazil,Serie A,2012,19/05/2012,22:30,Palmeiras,Portuguesa,1.0,1.0,D,1.75,3.86,5.25,1.76,3.87,5.31,1.69,3.50,4.90
1,Brazil,Serie A,2012,19/05/2012,22:30,Sport Recife,Flamengo RJ,1.0,1.0,D,2.83,3.39,2.68,2.83,3.42,2.70,2.59,3.23,2.58
2,Brazil,Serie A,2012,20/05/2012,01:00,Figueirense,Nautico,2.0,1.0,H,1.60,4.04,6.72,1.67,4.05,7.22,1.59,3.67,5.64
3,Brazil,Serie A,2012,20/05/2012,20:00,Botafogo RJ,Sao Paulo,4.0,2.0,H,2.49,3.35,3.15,2.49,3.39,3.15,2.35,3.26,2.84
4,Brazil,Serie A,2012,20/05/2012,20:00,Corinthians,Fluminense,0.0,1.0,A,1.96,3.53,4.41,1.96,3.53,4.41,1.89,3.33,3.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3985,Brazil,Serie A,2022,24/07/2022,20:00,Palmeiras,Internacional,2.0,1.0,H,1.44,4.45,8.44,1.50,4.85,9.40,1.42,4.41,7.89
3986,Brazil,Serie A,2022,24/07/2022,22:00,Atletico GO,America MG,0.0,1.0,A,1.88,3.35,4.85,1.90,3.60,4.85,1.86,3.38,4.46
3987,Brazil,Serie A,2022,24/07/2022,22:00,Atletico-MG,Corinthians,1.0,2.0,A,1.46,4.22,8.62,1.55,4.40,9.50,1.45,4.07,8.26
3988,Brazil,Serie A,2022,24/07/2022,23:00,Fortaleza,Santos,0.0,0.0,D,1.79,3.59,5.00,1.90,3.60,5.00,1.83,3.46,4.51
3989,Brazil,Serie A,2022,26/07/2022,00:00,Coritiba,Cuiaba,1.0,0.0,H,2.13,3.14,4.05,2.24,3.32,4.05,2.13,3.09,3.78

In [46]:
#Selecionar e renomear colunas da tabela
df = df[['Date', 'Home', 'Away','HG', 'AG', 'Res', 'PH', 'PD', 'PA']]
df.columns = ['Data', 'Time_Casa', 'Time_Visitante', 'Casa_Gol', 'Visita_Gol', 'Resultado', 'HomeOdd', 'EmpateOdd', 'VisitaOdd']

In [47]:
display(df)

,Data,Time_Casa,Time_Visitante,Casa_Gol,Visita_Gol,Resultado,HomeOdd,EmpateOdd,VisitaOdd
0,19/05/2012,Palmeiras,Portuguesa,1.0,1.0,D,1.75,3.86,5.25
1,19/05/2012,Sport Recife,Flamengo RJ,1.0,1.0,D,2.83,3.39,2.68
2,20/05/2012,Figueirense,Nautico,2.0,1.0,H,1.60,4.04,6.72
3,20/05/2012,Botafogo RJ,Sao Paulo,4.0,2.0,H,2.49,3.35,3.15
4,20/05/2012,Corinthians,Fluminense,0.0,1.0,A,1.96,3.53,4.41
...,...,...,...,...,...,...,...,...,...
3985,24/07/2022,Palmeiras,Internacional,2.0,1.0,H,1.44,4.45,8.44
3986,24/07/2022,Atletico GO,America MG,0.0,1.0,A,1.88,3.35,4.85
3987,24/07/2022,Atletico-MG,Corinthians,1.0,2.0,A,1.46,4.22,8.62
3988,24/07/2022,Fortaleza,Santos,0.0,0.0,D,1.79,3.59,5.00
3989,26/07/2022,Coritiba,Cuiaba,1.0,0.0,H,2.13,3.14,4.05

In [48]:
#Verificar dados inválidos na tabela
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3990 entries, 0 to 3989
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Data            3990 non-null   object
 1   Time_Casa       3990 non-null   object
 2   Time_Visitante  3990 non-null   object
 3   Casa_Gol        3989 non-null   float64
 4   Visita_Gol      3989 non-null   float64
 5   Resultado       3989 non-null   object
 6   HomeOdd         3989 non-null   float64
 7   EmpateOdd       3989 non-null   float64
 8   VisitaOdd       3989 non-null   float64
dtypes: float64(5), object(4)
memory usage: 280.7+ KB

In [49]:
#Limpar tabela de dados inválidos
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3989 entries, 0 to 3989
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Data            3989 non-null   object
 1   Time_Casa       3989 non-null   object
 2   Time_Visitante  3989 non-null   object
 3   Casa_Gol        3989 non-null   float64
 4   Visita_Gol      3989 non-null   float64
 5   Resultado       3989 non-null   object
 6   HomeOdd         3989 non-null   float64
 7   EmpateOdd       3989 non-null   float64
 8   VisitaOdd       3989 non-null   float64
dtypes: float64(5), object(4)
memory usage: 311.6+ KB

In [51]:
#Mudar padrão de data para ordenar a listagem de modo decrescente

#Salvar
df.to_excel('AnaliseGerson.xlsx')